.sign-body {
    background-color: #cee0e0;

}

.sign-container {
    margin-top: 6%;
}

.card.sign-card {
    padding: 40px 0px 20px;
    background: color #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.sign-image {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

form.sign-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    color: #f4f4f4;
    background-color: #da2020;
    width: 100%;
    margin-bottom:1.2rem ;
}

a.create-account{
    font-size:1.2rem ;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight:600;
}